# --- DATA FILES ---
*.csv
*.zip
*.gz
*.parquet
*.xlsx
*.ods

# --- NOTEBOOK CHECKPOINTS ---
.ipynb_checkpoints/

# --- BYTECODE / PYTHON CACHE ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- ENVIRONMENTS / PACKAGES ---
.venv/
venv/
env/
*.egg-info/
