# --- DATA FILES ---
# *.csv
*.zip
*.gz
*.parquet
*.xlsx
*.ods

# --- NOTEBOOK CHECKPOINTS ---
.ipynb_checkpoints/

# --- BYTECODE / PYTHON CACHE ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- ENVIRONMENTS / PACKAGES ---
.venv/
venv/
env/
*.egg-info/

# Ignore big map exports
citibike_map_template.html
visualisations/*.html

# Jupyter
.ipynb_checkpoints/
# macOS
.DS_Store
